<h1>{{model.title}}</h1>
<div class="display-image">
  <img src="{{model.image}}" alt="Image for {{model.title}}"/><br><br>
</div>
{{model.description}}<br><br>
{{model.cost}}

<hr>

{{update-product product=model}}

<button {{action 'delete' model}}>Delete</button>
